* {
    box-sizing: border-box;
}
body {
    background-color: aliceblue;
}

.content {
    background-color: white;
    width: 1000px;
    margin: 0 auto;
    font-family: Verdana, sans-serif;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 30px;
}

.heading {
    text-align: center; 
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    border: 3px solid black;
    display: inline-block;
    margin: 30px auto auto auto;
    width: 900px;
}

.heading h1 {
    font-variant: small-caps;
}
.heading p {
    font-size: 20px;
    text-align: right;
    font-style: italic;
}
.ind {
    background-color: lightblue;
    padding: 10px;
    display: inline-block;
    margin-top: 30px;
    width: 500px;
    border: 3px solid black
}
.ind p {
    font-size: 20px;
    color: green;
    font-size: bold;
    padding-left: 4px;
}

.ind a {
    font-size: 25px;
    font-variant: small-caps;
    text-decoration: none;
    color: black;
}

.rand {
    font-size: 20px

}

.heading.recipe {
    background-color: azure;
    padding-left: 4px;
}

.heading.recipe p {
    text-align: left;
    font-style: normal;
}

.heading.recipe .date {
    text-align: right;
    font-size: 15px;
}

.ingredients {
    background-color: blanchedalmond;
    padding: 5px
}

.ingredients h2 {
    text-align: center;
    font-size: 20px;
    font-variant: small-caps;
}

.ingredients li {
    font-size: 15px;
}

.text {
    font-family: garamond;
}
.text h3 {
    font-size: 55px;
}
.text p {
    font-size: 30px;
    
}


